
#output{
    font-size:40px;

}

#output1{
    font-size:60px;

}

body{
    background-color: #c4b1db;
}

h1{
    font-size: 70px;
    text-align: center;
}

#output2{
    font-size: 30px;
}

#output3{
    font-size: 20px;
}